rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Matches any document in the users collection or any of its subcollections.
    match /users/{userId}/{path=**} {
      // Allow read and write access only if the authenticated user's ID
      // matches the {userId} in the document path.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
